# Wildcards
#*chol*                   export-ignore
#*clol*                   export-ignore

# Files
.gitattributes           export-ignore
.gitignore               export-ignore
Makefile                 export-ignore

# Directories
